<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Bodya first blog</a></h1>
        </div>
        <div>
            {%for post in posts%}
            <div>
                <p>published : {{post.published_date}}</p>
                <h1>
                <a href="">{{post.title}}</a>
                </h1>
                <h1><p> {{post.text|linebreaksbr}}</p></h3>
            </div>
        {% endfor %}
    </div>
</body>
</html>
